-provide(:title, @user.email)
.row
	%aside.span6.offset3
		%section
			= render 'shared/transaction_form'
		%section
			%h1 Recent transactions
			- if @user.transactions.any?
				%ul.transactions
					= render @transactions
				= will_paginate @transactions