-provide(:title, @user.email)
.row
	.span6
		.center
			%h1 Lorem ipsum.
	.span6
		%ul.thumbnails.dates
			- 10.times do |i|
				%li.span1
					.thumbnail.btn.btn-date
						-# %img(src="http://placehold.it/300x200" alt="")
						%h1= Time.now.strftime("%d")
						- color = ((i*30 > 255) ? 0 : (255 - i*30))
						%p{style: "color: rgb(255, #{color}, #{color});"}= "-#{i*30}"