.row
	.span12
		.center.hero-unit
			%h1
				D
				= image_tag("donut.svg")
				UGHNUT
			%p Online expense tracking that doesn't hurt.
			= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary"
			