@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";

$grayMediumLight: #eaeaea;
$green: #5BB900;
$greenDarker: #50A300;
$grey: #999;
$whitesmoke: rgba(239, 239, 239, 0.7);

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin anorexic_p {
	font-size: 55px;
	margin-bottom: 70px;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 1;
}

@media (min-width: 1200px)
{
	body {
		padding-top: 60px;
	}
}

@media (min-width: 979px) and (max-width: 1200px)
{
	body {
		padding-top: 60px;
	}
}

#landing {
	.marketing {
		h1 {
			margin-top: 90px;
			text-align: left;
		}
		p {
			font-size: 25px;
		}
	}
	#logorow {
		p {
			@include anorexic_p;
			img {
				height: 38px;
				margin-left: -23px;
				margin-right: -18px;
			}
		}
	}
}

.btn-green {
	color: white;
	font-size: 24px;
	padding: 12px 32px;
	box-shadow: none;
	background: $green;
	border: 0;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	&:hover {
		background: $greenDarker;
		color: white;
	}
}

.hero-unit {
	background: none;
	h1 {
		font-size: 170px;
		font-weight: 100;
		img {
			height: 160px;
			margin-left: -57px;
			margin-right: -57px;
			margin-top: -35px;
		}
	}
	p
	{
		@include anorexic_p;
	}
}

html {
  overflow-y: scroll;
}

body {
	background: url('backnoise.jpg');
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 22px;
  color: $grey;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 100;
  line-height: 1;
	letter-spacing: 1px;
  &:hover {
    color: $grey;
    text-decoration: none;
  }
	img {
		height: 21px;
		margin-top: -4px;
		margin-left: -8px;
		margin-right: -7px;
	}
}

.navbar {
	.navbar-inner {
	 background: $whitesmoke;
	}
	.nav li {
		a {
			text-shadow: none;
			&:hover {
				color: #333;
			}
		}
	}
	.dropdown-menu {
		background: whitesmoke;
		li {
			a {
				&:hover {
					background-color: darken(whitesmoke, 30%);
				}
			}
		}
	}
}

.image {
	margin: 0;
	height: 500px;
	margin-top: 50px;
	margin-left: 70px;
}

.image2 {
	margin: 0;
	height: 500px;
	margin-top: 50px;
	margin-left: 100px;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
	border-top-color: black;
	border-bottom-color: black;
	&:hover {
		border-top-color: black;
		border-bottom-color: black;
	}
}

footer {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grey;
	font-size: 15px;
	font-weight: 200;
	line-height: 25px;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
		img {
			height: 25px;
		}
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

hr {
	margin: 8px 0;
	border-top: 1px solid #AAA;
}