// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dates {
	.btn-date {
		color: white;
		box-shadow: none;
		background: #AAA;
		border: 0;
		&:hover {
			background: darken(#AAA, 30%);
			color: white;
		}
		h1 {
			font-size: 20px;
			margin-bottom: 0px;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		}
		p {
			font-size: 15px;
			margin-bottom: 0px;
			text-shadow: 0 1px 1px rgb(0, 0, 0);
		}
	}
}